body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}

.titulo-principal {
    color: #1f4287;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

p, li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

.proyectos-contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Esta propiedad es clave para que los proyectos pasen a la siguiente línea si no caben */
}

.proyecto {
    width: 300px;
    margin: 15px;
    text-align: center;
}